[Desktop Entry]
Icon=application-x-shellscript
Name=start_xfce.sh
Type=Link
URL[$e]=file:$HOME/bin/start_xfce.sh
X-KDE-LastOpenedWith=org.xfce.mousepad
