[Desktop Entry]
Icon=application-x-shellscript
Name=start_openbox.sh
Type=Link
URL[$e]=file:$HOME/bin/start_openbox.sh
X-KDE-LastOpenedWith=org.xfce.mousepad
